:root {
  --primary-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
}
/* =====COMPONENTS===== */
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--accent-color);
}
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-color);
}
.web {
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/* =====HEADER===== */
.link-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-header {
  display: flex;
  padding-bottom: 25px;
  padding-top: 25px;
}
.site-nav {
  display: flex;
  margin-left: 92px;
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}
.communication {
  display: flex;
  margin-left: 300px;
  align-items: center;
  justify-content: flex-end;
}
.communication li:not(:last-child) {
  margin-right: 50px;
}

.phone,
.maill {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* =====HEADER END===== */
/* =====HERO===== */

.hero-section {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* =====HERO END===== */
/* =====FEATURES===== */
.features-section {
  padding-top: 94px;
}
.features-item {
  display: flex;
  padding-right: 55px;
}
.features-item li:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* =====FEATURES END===== */
/*===== ABOUT ===== */
.about-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-section ul {
  display: flex;
  flex-wrap: wrap;
}
.about-section li:not(:last-child) {
  margin-right: 30px;
}
/*===== ABOUT END ===== */
/* ===== TEAM ===== */
.team-section {
  padding-top: 188px;
  padding-bottom: 94px;
  text-align: center;
}
.team-section ul {
  display: flex;
  flex-wrap: wrap;
}
.team-section li:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ===== TEAM END ===== */
/* ===== FOOTER ===== */
.footer-section {
  background-color: #2f303a;
  padding-top: 94px;
  padding-bottom: 60px;
}
.footer {
  display: flex;
  flex-direction: column;
}

.studio {
  color: #ffffff;
  margin-bottom: 20px;
}
.address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer ul li:not(:last-child) {
  margin-bottom: 9px;
}
/* Portfolio */
.nav-section {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.nav-button:not(:last-child) {
  margin-right: 10px;
}

.nav-button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.project-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .project-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
}
.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 20;
  margin-top: 4px;
}
